/*.json
imu_data
data
build
measurements
measurements/imu_mem
measurements/hipnuc_mem
delata10_mem
.vscode
.ipynb_checkoints
*.pyc
*.npz
*.code-workspace
*.csv
*.DS_Store
*.zip
*.pkl
*.ipynb_checkoints